<ion-view title="Settings" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="settings-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Map On/Off</ion-toggle>
      <label class="item item-input" id="settings-input1">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.home()" id="settings-button3" class="button button-positive button-block">Save and Close</a>
  </ion-content>
</ion-view>